/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial "Lucida Grande",sans-serif;
    background-color: #fafafa;
}

.fill-space {
    flex: 1 1 auto;
}

app-photo {
    margin: 32px;
    display: inherit;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    justify-content: center;
}