:host {
    margin: 32px;
    display: inherit;
}

.photo-card {
   width: 400px;
}

mat-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}